.like-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  
  .like-button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 10px 20px;
    border: 2px solid #333;
  }
  
  .like-button:hover {
    color: #fff;
    background-color: #333;
  }
  
  .like-button.liked {
    color: #ff69b4;
    border-color: #ff69b4;
  }
  
  /* For mobile screens */
  @media (max-width: 768px) {
    .like-button-container {
      flex-direction: column;
    }
  
    .like-button {
      font-size: 16px;
      margin-bottom: 10px;
      padding: 8px 16px;
      border-width: 1px;
    }
  }
  .reactions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 6px;
  }
  
  .reaction {
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 4px;
    margin-right: 8px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .reaction:hover {
    transform: scale(1.2);
    /* aumentamos el tamaño de la imagen al 110% */
  }
  
  .reaction-like {
    background-image: url('../images/like.png');
  }
  
  .reaction-love {
    background-image: url('../images/heart.png');
  }
  
  .reaction-haha {
    background-image: url('../images/smile.png');
  }
  
  .reaction-wow {
    background-image: url('../images/wow.png');
  }
  
  .reaction-sad {
    background-image: url('../images/sad.png');
  }
  
  .reaction-angry {
    background-image: url('../images/angry.png');
  }